<div class="row row-cols-3 g-3">
  <div class="col" *ngFor="let canteen of this.canteenList">
    <div
      class="card"
      style="cursor: pointer"
      (click)="openCanteenMenu(canteen)"
    >
      <img
        src="{{ canteen.Image }}"
        class="card-img-top"
        style="height: 12vw; object-fit: cover"
      />
      <div class="card-body" style="height: 12vw; object-fit: contain">
        <h4 class="card-title">
          <b>{{ canteen.Name }}</b>
        </h4>
        <p class="card-text">
          {{ canteen.Description }}
          <br />
          <strong>Working Hours:</strong>
          <br />
          {{ canteen.WorkingHours }}
          <br />
          <strong>Address:</strong>
          <br />
          {{ canteen.Address }}
        </p>
      </div>
    </div>
  </div>
</div>
