.background-image {
background-image: url('../../assets/SpartanDining0.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  color: #fff;
  text-align: center;
}

.custom-h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.custom-p {
  font-size: 1.5rem;
}

.custom-btn-primary {
  background-color: #4caf50;
  /* Green */
  border: 2px solid #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.custom-btn-outline-light {
  background-color: #f8f9fa;
  /* Light Grey */
  border: 2px solid #f8f9fa;
  color: #212529;
  /* Dark Grey */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
