<div class="container-fluid" style="background-color: #2e5888">
  <div class="row">
    <div class="col-3 sidebar" style="background-color: #2e5888">
      <div class="card my-4">
        <div class="card-body text-center">
          <h2 class="mx-2 my-4" style="color: #103d9e; font-weight: bold">
            {{
              loggedUser.UserType.charAt(0).toUpperCase() +
                loggedUser.UserType.slice(1)
            }}
            Landing Page
          </h2>
          <img
            src="https://img.favpng.com/15/8/8/user-profile-2018-in-sight-user-conference-expo-business-default-png-favpng-5EdhQJprgN1HKZdx50LCN4zXg.jpg"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <h5 class="my-3">
            {{ loggedUser.FirstName + " " + loggedUser.LastName }}
          </h5>
          <p class="text-muted mb-1">{{ loggedUser.Email }}</p>

          <p class="text-muted mb-1">Phone: {{ loggedUser.PhoneNumber }}</p>
          <p class="text-muted mb-4">
            Last Logged: {{ loggedUser.LastLogged }}
          </p>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary" (click)="logOut()">Log Out</button>
            <!-- <button type="button" class="btn btn-danger ms-1" (click)="deleteUser()">
              Delete Account
            </button> -->
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li
              class="list-group-item d-flex align-items-center p-3"
              style="cursor: pointer"
              *ngFor="let menuItem of menuItems | keyvalue"
              (click)="listNavigate(menuItem.key)"
            >
              <i class="{{ menuItem.value }}" style="color: #3b5998"></i>
              <p class="mb-0 mx-2">{{ menuItem.key }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9 main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
