  <div class="container-fluid" style="background-color: #2e5888;">
    <div class="row">
      <div class="col-3 sidebar" style="background-color: #2e5888;">
        <div class="card" style="height: 100vh; background-color: #2e5888; color: #fff;">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar"
            class="img-fluid my-5" style="width: 80px;" />
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Item 1</li>
                        <li class="list-group-item">Item 2</li>
                        <li class="list-group-item">Item 3</li>
                      </ul>
          </div>

        </div>
      </div>
      <div class="col-9 main-content">
        <div class="row small-row">
          <!-- Small Row Content -->
        </div>
        <div class="container big-container" style="overflow: auto; background-color: #2e5888; height:75vh">
          <app-user-canteen-list-view> </app-user-canteen-list-view>
        </div>
      </div>
    </div>
  </div>
