<section class="vh-100" style="background-color: #2e5888;">
  <div class="container py-5 h-90">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" -->
              <img src="../../assets/logo1.jpg" alt="login form" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="loginForm" (ngSubmit)="login()">

                  <div class="d-flex justify-content-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">UNCGEats</span>
                  </div>

                  <h4 class="fw-normal mb-2 pb-3" style="letter-spacing: 1px;">Sign into your account</h4>

                  <div class="form-outline mb-2">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" formControlName="Email"/>
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-2">
                    <input type="password" id="password" class="form-control form-control-lg" formControlName="Password"/>
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <h5 class="mb-2 me-4">User Type: </h5>

                  <div class="form-check form-check-inline mb-2 me-4">
                    <input class="form-check-input" type="radio" name="UserType" id="owner" value="owner" formControlName="UserType"/>
                    <label class="form-check-label" for="owner">Owner</label>
                  </div>

                  <div class="form-check form-check-inline mb-2 me-4">
                    <input class="form-check-input" type="radio" name="UserType" id="customer"
                      value="customer" formControlName="UserType"/>
                    <label class="form-check-label" for="customer">Customer</label>
                  </div>

                  <div class="form-check form-check-inline mb-2 me-4">
                    <input class="form-check-input" type="radio" name="UserType" id="admin" value="admin" formControlName="UserType"/>
                    <label class="form-check-label" for="admin">Admin</label>
                  </div>

                  <div class="pt-1 my-3">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    <button class="btn btn-lg btn-block mx-4" type="button" (click)="cancelLogin()">Cancel</button>
                  </div>

  
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/signup"
                      style="color: #393f81;">Register here</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
